

/*as colunas*/


.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:90%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:#1c1e21ab;
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}


.hovereffect h2.h2-produto {
color:white;
text-align:center;
position:relative;
font-size:25px;
font-weight: bold;
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding-top: 70px;
}
.hovereffect h2.h2-preço {
color:white;
text-align:center;
position:relative;
font-size:20px;
font-weight: bold;
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding-top: 10px;
}



.hovereffect a.info {
text-decoration:none;
display:inline-block;
color:white;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:40px 0 0;
padding:7px 12px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {

-ms-transform:scale(1);
-webkit-transform:scale(1.05);
transform:scale(1.04);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}


.col-md-6{
	margin-top: 5%;
}

.col-lg-4{
	padding-bottom: 3%;

}

h1.titulo-produtos{
	font-family: roboto;
	font-weight: bold;
}

h5.filtro{
	margin-top: 6%;
	display:flex;
	flex-direction: row-reverse;
	font-size: 17px;
	padding-right: 7%;

}

a.categorias-marcado{
	background: #FFFF40
}

a.categorias-marcado:hover{
	color:black;
}
a.categorias, a.categorias-marcado{
	color:black;
	font-weight: bold;
	font-family: roboto;
	font-size: 18px;
}

a.categorias:hover{
	color:black;
	text-decoration: none;
	background: #FFFF40;

}

hr.baralho-categorias{
	border: none;
	height: 25px;
	margin-top:-30px;
	background: #FFFF40;
	width: 30%;
	margin-left: -8px;
}
hr.categorias{
	border: none;
	height: 2px;
	margin-top: 10px;
}

.filtro{
	font-weight: bold;
	color: black;
}



@media only screen and (max-width: 990px) {
	.categorias{
		padding-right: 2%;
		display: inline;
	}
	a.categorias{
		font-size: 16px;
	}
	h1.titulo-produtos{
		font-size: 32px;
	}

}

