


/*#rectangle{
    width:100px;
    height:30px;
    background:black;
    }*/

    .col-4{
     margin-top: 5%;
   }

   h1.titulo, h1.titulo-atual {
    align-items: center;
    display: -webkit-flex;
    display: flex;
    font-size: 22px;
    justify-content: center;
    padding-top: 5%;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    color: black;
  }

  h1.titulo-atual{
   font-weight: bold;

 }

 .form-contact {
  display: flex;
  font-family: roboto;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 20%;
  width: 70%;
}

.form-contact-input {

  width: 100%;
  color: #292929;
  font-size: 16px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 10px;
  text-indent: 20px;
}


.form-button, .form-button2{

  font-size: 20px;
  color: black;
  height: 40px;
  background: #FFFF40;
  display: block;
  border: none;
  border-radius: 5px;
  padding:auto;

}

.form-button:hover, .form-button2:hover {
 border:2px solid black;
}

.form-button{
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
}

.form-button2 {
  width: 15%;
  margin-left: 52%;
  margin-top: 5%;
}

select.parcelamento{
  border: none;
  background: none;
  margin-top: 8px;
}

.botão ,.botão-cartão{
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 18px;
 cursor: pointer;
 float: left;
 padding: 5px 30px 5px 30px;
}

.botão{
 background: white;
 border: 2px solid black;
 color: black;
 border-top-right-radius: 7px;
 border-bottom-right-radius: 7px;
}



.botão:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}

.botão-cartão{
  border:2px solid black;
  background: black;
  color: white;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.botão-grupo{
  margin-left: 31%;
  margin-bottom: 10%;
}



